<?xml version="1.0" encoding="UTF-8"?>
<Context path="/pentaho" docbase="webapps/pentaho/">
	<Resource name="jdbc/Hibernate" auth="Container" type="javax.sql.DataSource" factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" initialSize="0" maxActive="20" maxIdle="10" maxWait="10000" username="DOCKER_PENTAHO_POSTGRES_HIBERNATE_USERNAME" password="DOCKER_PENTAHO_POSTGRES_HIBERNATE_PASSWORD" driverClassName="org.postgresql.Driver" url="DOCKER_PENTAHO_POSTGRES_HIBERNATE_URL" validationQuery="select 1"/>
	<Resource name="jdbc/Audit" auth="Container" type="javax.sql.DataSource" factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" initialSize="0" maxActive="20" maxIdle="10" maxWait="10000" username="DOCKER_PENTAHO_POSTGRES_HIBERNATE_USERNAME" password="DOCKER_PENTAHO_POSTGRES_HIBERNATE_PASSWORD" driverClassName="org.postgresql.Driver" url="DOCKER_PENTAHO_POSTGRES_HIBERNATE_URL" validationQuery="select 1"/>
	<Resource name="jdbc/Quartz" auth="Container" type="javax.sql.DataSource" factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" initialSize="0" maxActive="20" maxIdle="10" maxWait="10000" username="DOCKER_PENTAHO_POSTGRES_QUARTZ_USERNAME" password="DOCKER_PENTAHO_POSTGRES_QUARTZ_PASSWORD" testOnBorrow="true" driverClassName="org.postgresql.Driver" url="DOCKER_PENTAHO_POSTGRES_QUARTZ_URL" validationQuery="select 1"/>
</Context>
