<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<features xmlns="http://karaf.apache.org/xmlns/features/v1.6.0" name="hitachivantara-spring43-repo">
    <feature name="spring" description="Spring 4.3.x support" version="4.3.23.RELEASE_1">
        <bundle start-level="30" dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/4.3.23.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/4.3.23.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/4.3.23.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/4.3.23.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/4.3.23.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-aspects" description="Spring 4.3.x AOP support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-instrument" description="Spring 4.3.x Instrument support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-jdbc" description="Spring 4.3.x JDBC support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring-tx</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-jms" description="Spring 4.3.x JMS support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring-tx</feature>
        <bundle start-level="10" dependency="true">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle start-level="10" dependency="true">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-messaging" description="Spring 4.3.x Messaging support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-messaging/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-test" description="Spring 4.3.x Test support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring</feature>
        <bundle dependency="true">mvn:javax.websocket/javax.websocket-api/1.1</bundle>
        <bundle dependency="true">mvn:org.apache.httpcomponents/httpcore-osgi/${httpcore-osgi.version}</bundle>
        <bundle dependency="true">mvn:org.apache.httpcomponents/httpclient-osgi/${httpclient-osgi.version}</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-orm" description="Spring 4.3.x ORM support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-oxm" description="Spring 4.3.x OXM support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-tx" description="Spring 4.3.x Transaction (TX) support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-web" description="Spring 4.3.x Web support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring</feature>
        <feature>http</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/4.3.23.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-web-portlet" description="Spring 4.3.x Web Portlet support" version="4.3.23.RELEASE_1">
        <feature>wrap</feature>
        <feature version="[4.3.23.RELEASE_1,4.4)">spring-web</feature>
        <bundle start-level="30" dependency="true">wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/4.3.23.RELEASE_1</bundle>
    </feature>
    <feature name="spring-websocket" description="Spring 4.3.x WebSocket support" version="4.3.23.RELEASE_1">
        <feature version="[4.3.23.RELEASE_1,4.4)">spring-web</feature>
        <bundle dependency="true">mvn:javax.websocket/javax.websocket-api/1.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-websocket/4.3.23.RELEASE_1</bundle>
    </feature>
</features>
